import * as S from './styles';

function {{pascalCase name}}Template() {
  return (
    <S.Container>
      <h1>{{pascalCase name}}Template</h1>
    </S.Container>
  );
}

export { {{pascalCase name}}Template };
